/*========= Page Layout ===========*/

@media screen and (min-width: 64em){
    
    main {
        width: 900px;
        margin: auto;
    }
    
    .topnav {
        font-size: 1em;
    }  
    
    #news {
        display: flex;
        flex-direction: column;
    }
    
    #news article {
        
        width: 250px;
        padding: 0px 20px 0px 20px
    }
    
    #photo {
    display: flex;
    }
    
        
    #articles {
        display: flex;
        justify-content: center;
        text-align: left;
        clear: both;
    } 
    
    #cityStats article {
        width: 225px;
        padding: 20px;
    } 

/*========= Home Page Layout ===========*/
    
    #mainArticle {
      display: flex;
      flex-direction: row-reverse;
      }  
    
    #mainArticle img {
        padding-right: 30px;
        padding-left: 20px;
    }    

    #cityStats {
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        margin: auto;
    }
    
    .cityBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cityBlock img{
        padding: 0px 20px 0px 20px;
    }
    
    .cityBlock article {
        padding-bottom: 0px;
    }
    
@media only screen and (min-width: 1024px) {
  .display-small {
    display: none;
  }
  .display-medium {
    display: none;
  }
  .display-large {
    display: block;
  }
  .title {
    font-size: 4.2em;
  }
  .subtitle {
    font-size: 2.2em;
  }   

  nav ul li a {
    font-size: 1.2em;
  }


  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery-grid img:hover {
    box-shadow: 5px 5px 10px gray;
  }
}