@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
    font-family:sans-serif;
    margin:0px;
}

html,body {
    height:100%;
    margin:0px;
    padding:0px;
}

body {
    background:url('../images/blue_hills.jpg');
}

.container {
    position:relative;
    width:960px;
    height:930px;
    margin:auto;
    background:rgba(255,255,255,0.5);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.45);
}

header {
    position:relative;
    width:960px;
    height:100px;
    border-bottom:2px solid rgb(130, 196, 247);
}

.logo {
    position:relative;
    width:250px;
    height:100px;
    float:left;
    background:url('../images/ms.jpg');
    background-color:rgb(235, 253, 212);
}

nav {
    position:relative;
    width:710px;
    height:100px;
    float:left;
    background:#4F5B4F;
    font-family: 'Cinzel', serif;
}

nav > .navigation {
    position:relative;
    top:35px;
    left:20px;
    margin:0px;
    padding:0px;
    list-style:none;
}

.navigation li {
    width:100px;
    text-align:center;
    padding:6px;
    font-size:15px;
    float:left;
}

.navigation a {
    color:white;
    text-decoration:none;
    font-family: 'Cinzel', sans-serif;
    text-shadow:0px 0px 1px rgba(0,0,0,0.3);
}



/* ACCORDION */

.ui-accordion-header-active {
    background-color: #4F5B4F !important;
    border: none !important;
}

div#accordion {
    margin-top: 1em;
}

#accordion div {
    height: auto !important;
}

.hidden {
    visibility: hidden;
    height: 0px;
}
/*END ACCORDION*/


footer {
    position:relative;
    height:50px;
    background:#4F5B4F;
    border-top: 2px solid rgb(130, 196, 247);

}


footer h5 {
    position: absolute;
    top: 8px;
    left: 7px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: white;

}

footer a {
    text-decoration: none;
    font-weight: normal;
    color:inherit;
}
}


