@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
body { font-size: 135%; }
  
header {
	padding-bottom: 3em;
}

/*header img {
	margin-top: 0;
}*/

header h1 {
    font-size: 225%;
    margin-top: -3.9em;
    margin-left: 5.1em;
}

header .subheading {
    font-size: 148%;
    margin-top: -.8em;
    margin-left: 4.75em;
    padding: 4em;
    padding-top: .8em;
    padding-bottom: 0.9em;
}

.towncond h2 {
	font-size: 250%;
	padding-bottom: .5em;
	margin-top: -.1em;
}

main .towncond picture img {
	align-items: flex-start;
	margin-top: -2.75em;
	max-width: 100%;
}

.wbconds h3 {
	font-size: 185%;
    margin-top: -7.75em;
    margin-bottom: 0;
    margin-left: 7.75em;
    padding: 0;
}

div.wbconds>p {
	margin-top: -.8em;
	margin-left: 11.8em;
	padding-top: .9em;
	font-size: 119%;
}

div.wbconds>p.wc {
	margin-top: -1.95em;
    margin-left: 4.9em;
}

div.currconds picture img {
	/*display: inline-block;*/
	margin-top: -.9em;
   	width: 100%;	
}

section.tenforecast h3 {
	margin-top: -.1em;
}

article h3 { 
	margin-top: 1em;
	margin-left: .3em;
	font-size: 175%;
}

/* 3 column photo grid*/
div.wbgallery {
  		grid-template-columns: repeat(3, 1fr);
}

div.wbgallery figure:hover {
		box-shadow: 6px 6px 9px #7f1818;
	}

article h3 { 
	margin-top: 0.9em;
	font-size: 175%;
}

footer {
	margin-top: 1em;
	font-size: 95%;
}

footer>p.footer-bar {
	margin-top: .5em;
}
}