/*========= Page Layout ===========*/

@media screen and (min-width: 64em){
    
    main {
        width: 900px;
        margin: auto;
    }
    
    .topnav {
        font-size: 1em;
    }  
    
    #news {
        display: inline;
    }
    
        
    #articles {
        display: flex;
        justify-content: center;
        text-align: left;
        clear: both;
    } 
    
    article {
        width: 225px;
        padding: 20px;
    } 
.towncond h2 {
	font-size: 250%;
	padding-bottom: .5em;
	margin-top: -.1em;
}

main .towncond picture img {
	align-items: flex-start;
	margin-top: -2.75em;
	max-width: 100%;
}
    
/*========= Gallery Layout ===========*/

    #galleryImg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;  
        text-align: center;
        margin-left: 20px;
    }

    #galleryImg figure {
        padding: 5px;
    }
    
    #galleryImg figure:hover {
        box-shadow: 5px 5px 10px gray;
    }
    
}