
body {
	font-size: 120%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'roboto', sans-serif;
}



/*========= Top Navigation Layout ===========*/

ul {
  text-decoration: none;
  list-style: none;
}

h1 {
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 1.5em;
}

h2 {
  padding: 20px;
  color: #24408e;
}

.hamburger { 
    display: flex;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem; 
}

nav ul {
  border-top: 1px solid #f28731;
}

nav li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #f28731;
}

nav a {
  color: #f28731;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.topnav { 
    list-style: none; 
    display: flex;
    flex-direction: column;
}

.topnav li { 
    display: none;
    padding-left: 20px;
}

.topnav a:hover {
    color: #24408e;
}

nav ul li.nosee {
	display: flex;
	width: 100%;
	font-size: 130%;
}

/*=========  ===========*/



main {
	padding: .45em 0 0 .45em;
	background-color: #b06ecf;
}

main .towncond {
	display: inline-block;
}

.towncond h2 {
	margin-top: -.1em;
	padding-bottom: .45em;
	font-family: 'Handlee', cursive;
	font-size: 180%;
	color: #ffe058;
	letter-spacing: .5rem;
	font-weight: 100;
}

div.towncond>p {
	margin-top: 0;
	padding-right: .5em;
	padding-left: 6.9em;
}


main .towncond picture img {
	align-items: flex-start;
	max-width: 100%;
	margin-top: -1.5em;
	margin-left: .3em;
	border: 4px solid #2fa879;
}

section.weatherrpt {
	display: flex;
	align-items: center;
}

.wbconds {
	max-width: 100%;
	margin-top: 1.75em;
	font-size: 90%;
}

.wbconds h3 {
	font-family: 'Handlee', cursive;
	font-size: 145%;
	font-weight: 100;
	color: #ffe058;
	letter-spacing: .5rem;
	margin-top: -5.5em;
	margin-bottom: 0;
	margin-left: 4.5em;
	padding-right: .2em;
	padding-left: .4em;
}

div.wbconds>p {
	margin-top: 0;
	padding-right: .5em;
	padding-left: 7.2em;
}

div.wbconds>p.wc {
	margin-top: -1em;
	margin-left: 0;
	padding-left: 7.2em;

}

div.currconds picture img {
	margin: 0;	
	margin-top: -.5em;
	margin-left: .25em;
   	max-width: 95%;
   	width: 100%;
	border: 4px solid #2fa879;
}

section.tenforecast {
	display: none;
}

section.tenforecast h3 {
	margin-left: 1.6em;
	font-family: 'Handlee', cursive;
	font-weight: 100;
	font-size: 172%;
	color: #ffe058;
	letter-spacing: .5rem;
	text-align: left;
}

table {
	border-collapse: collapse;
	border: 3px solid #2fa879;
	margin-top: 1.4em;
	margin-right: 1.6em;
	margin-left: 1.6em;
	padding: 0;
	max-width: 93%;
	width: 100%;
	font-size: 89%;
}

thead, tbody {
	padding: 0 .16em;
}

th, td {
	border: 1.5px solid #6ecfb0;
	margin-right: .48em;
	margin-left: auto;
	padding-right: .32em;
	padding-left: .32em;
	text-align: center;	
}

/* Adds styling to gallery title*/
.wbgallerytitle {
	margin-top: .5em;
	padding-bottom: 0;
	font-family: 'Handlee', cursive;
	font-size: 1.5rem;
	letter-spacing: .5rem;
	color: #ffe058;
}

/*styles the weather gallery*/
.wbgallery * {
	box-sizing: border-box;
}

.wbphotos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

main figure.wbphotos {
	border: 3px solid #2fa879;
}

main figure.photoFullWidth {
	margin: .32em;
	width: 96%;
}


article {
	display: block;
	margin-top: .32em;																																																																																		
	padding: .32em;
	padding-bottom: 0;
	max-width: 95%
}

article h3 { 
    margin-top: -.25em;
	padding-bottom: .1em;
	text-align: left;
	font-family: 'Handlee', cursive;
	font-weight: 100;
	font-size: 125%;
	color: #ffe058;
	letter-spacing: .5rem;
}

article>p {
	margin-top: -1.25em;
	font-size: 80%;
}

article a {
	font-size: 83%;
	text-decoration: none;
	font-weight: 600;
	color: #6ecfb0;
}

article a:hover {
    background-color: #be88bc;
    color: #fff;
}

article p.addinfo {
	text-align: center;
	margin-top: -.75em;
	padding-bottom: 0;
}

div.todayarticle picture img {
	margin-top: -.5em;
	margin-left: .25em;
	margin-bottom: .125em;
   	max-width: 95%;
   	width: 100%;
   	border: 4px solid #2fa879;
}

div.wbgallery {
	padding: 0 .4em;
	display: grid;
	grid-template-columns: repeat(1, 1fr)
}

div.wbgallery figure {
	margin: 2.5%;
	margin-right: 4%;
	border: 2px solid #4ca6a6;
}

div.wbgallery figure img { width: 100% }
div.wbgallery figure figcaption {
	text-align: center;
	font-size: .85rem;
}

p.credit { font-size: .75rem; }

.mainpg h2{ 
	font-family: 'Handlee', cursive;
	font-size: 180%;
	color: #ffe058;
	letter-spacing: .5rem;
	font-weight: 100;
	margin-right: .25em;
}

.mainpg h3 {
	font-size: 145%;
	font-weight: 100;
	color: #6ecfb8;
	margin-top: -0.7em;
	margin-right: .25em;
    margin-left: .25em;
}

.mainpg>p {
	margin-top: -0.8em;
	margin-right: .25em;
	margin-left: .25em;
}

.mainpg h4 {
	font-weight: 100;
	font-size: 125%;
	margin-top: .3em;
    margin-left: .25em;
	padding-bottom: 1em;
	color: #6ecfb8;
}

div.wbmainimg img {
	display: block;
	margin: auto;
	width: 95%;
	border: 4px solid #2fa879;
}

h1.stormcenter {
	margin-top: 0;
	font-family: 'Handlee', cursive;
	font-size: 165%;
	font-weight: 100;
	letter-spacing: .25em;
	color: #ffe058;
}

.frm {
	font-size: .75em;
	vertical-align: middle;
}

fieldset {
	padding: .35em .75em .625em;
	font-size: 90%;
	font-weight: 900;
	color: #fff;
}

legend {
    color: #fff;
    /*display: table;*/
    max-width: 100%;
    padding: 0;
    padding-top: .75em;
    padding-bottom: .5em;
    white-space: normal;
}

input[type=text], [type=email], [type=tel], [type=number], [type=date], select {
	width: 97%;
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
	padding: .35em;
	border: 2px solid #6ecfb0;
	border-radius: .25em;
}

input[type=date] {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
	padding: .35em;
	border: 2px solid #6ecfb0;
	border-radius: .25em;
}

input[range] { width: 97%; }


input[list] { width: 97%; }

input[type=radio] {
	font-size: .75em;
	vertical-align: middle;
}
textarea {
	width: 97%;
	height: 300%;
	margin-top: .25em;
	padding: .75em .35em;
	box-sizing: border-box;
	border: 2px solid #6ecfb0;
	border-radius: .25em;
	resize: none;
	font-size: .75em;
}
#noseeheader {display: none; }

.town-data {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.town-data h2 {
	font-family: 'Handlee', cursive;
	font-size: 135%;
	margin-top: -2em;
	margin-left: .75em;
	color: #ffe058;
}

.town-data article {
	font-size: 85%;
	margin-top: -0.5em;
	margin-right: .5em;
	margin-left: -0.25em;
}

.town-data article>p {
	margin-top: -0.5em;
	margin-right: .25em;
	font-size: 80%;
}

.town-data article>ul {
	font-size: 80%;
	margin-left: -1.25em;
}

footer {
   margin-top: 1.15em;
    padding: .15em;
    padding-right: .375em;
    padding-left: .375em;
	color: #cf6e8c;
	font-weight: 600;
	font-size: 75%;
}

footer aside {
	padding: 0;
	padding-top: .16em;
	text-align: center;
}

footer a {
	font-weight: normal;
	color: #cf6e8c;
}

footer>p.footer-bar {
	margin-top: .32em;
	margin-bottom: .16em;
	text-align: center;
}																