@media only screen and (min-width: 37.5em){

/* Navigation */
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
        display: -ms-flexbox;
    }
    nav ul {
        flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        margin-left: 2%;
        border-left: solid 1px rgba(0,0,0,0.3);
    }
    nav ul li {
        float: left;
        -ms-flex: 1 0 auto;
    }
    nav ul li a {
        padding: .5rem 1rem;
        border-bottom: none;
        border-right: solid 1px rgba(0,0,0,0.3);
    }
    .hideSmall {
        display: block;
    }
    .hideSmallLarge {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .hideSmallLarge p {
        text-align: center;
    }
    .story {
        display: grid;
        grid-template-columns:  1fr 1fr;
        direction: rtl;
    }
    #story {
        direction: ltr;
    }

/* Grid */
    div.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
} /* end of media query */